
/****************** CSS RESET - FOR NO MARGIN/PADDING ***********************/ 
*, html {
    margin:0 auto;
    padding:0 auto;  
}

/* Overall Background */
body {
	background: #8d8d8d url('http://www.catalytic-design.com/images/wood-background.jpg') repeat fixed top center;
}


/****************** NAVBAR ***********************/ 

/****** Navbar 1 - Full Length No margins *****/

.navbar {
width: 100%;
background-color: #000000;
/* Padding etc done with the overall body above */
height: 30px; 
padding-top: 10px; 
position: fixed;
} 

.navbar ul {
    display: inine;  
	list-style-type: none; 
	color: white;
} 

.navbar li {
	display: inline; 
	padding-right: 3%;
}

#logo {
	font-size: 20px; 
	color: #9BD7FF;
}

/****** Navbar 2 - Shorter Length No margins *****/
/* 
.navbar {
	width: 50%; 
	margin-left: 20%; 
	margin-right:20%; 
	margin-top: 5%;
	padding-left: 60px;
	padding-right: 60px;
	padding-bottom: 15px; 
	padding-top: 15px; 
	background-color: #EEEEEE;
	border-radius:25px;
/*	border-style:solid;
	border-width: 1px; */
} */ 
/****************** PAGES ***********************/ 

/* INTRO Background */
.introBackground {
	width: 100%;
	margin: 0; 
	background: #8d8d8d url('http://www.catalytic-design.com/images/wood-background.jpg') repeat fixed top center;
}

/* INTRO Content */
#intro {
	width: 50%; 
	margin-left: 15%; 
	margin-right:15%; 
	padding-left: 60px;
	padding-right: 60px;
	padding-bottom: 60px; 
	padding-top: 70px; 
}
#intro h1 { 
	color: #ffffff; 
	font-size: 35px;
}

#intro article {
	color: #9BD7FF; 
	font-size: 19px; }
	
/* WORDPRESS */
#wordpress {
	width: 50%; 
	margin-left: 15%; 
	margin-right:15%; 
	padding-left: 60px;
	padding-right: 60px;
	padding-bottom: 60px; 
	padding-top: 30px; 
}

#wordpress h1 { 
	color: #ffffff; 
	font-size: 35px;
}